body {
    background-color: #a82e1d;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

header {
    background-color: #f4e1d2;
    padding: 20px;
    border-bottom: 5px solid #a82e1d;
    font-size: 2em;
    font-family: 'Georgia', serif;
    text-align: center;
}

main {
    padding: 20px;
    background-color: #f4e1d2;
    border-radius: 10px;
    margin: 20px auto;
}

body.home main {
    display: flex;
    flex-direction: row;
}

.left,
.right {
    flex: 1;
}

main:has(.left):has(.right) {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media (max-width: 800px) {
    main:has(.left):has(.right) {
        flex-direction: column;
    }
}

main h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: poppins, sans-serif;
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    margin:auto;
}

.item img {
    width: 85%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.item p {
    font-weight: bold;
    font-size: 1em;
    color: #333;
}

footer {
    background-color: #f4e1d2;
    padding: 10px;
    border-top: 5px solid #a82e1d;
    text-align: center;
    font-size: 1em;
    font-family: 'Georgia', serif;
}